<section id="create-container">
    <div class="create-container-info">
      <h1>Add New Product</h1>
      <form action="/blog/create" method="post">
        <label>Name:</label>
        <input name="name" type="text" id="name" value="" />
  
        <label>Image:</label>
        <input name="imageUrl" type="text" id="image" value="" />
  
        <label>Description:</label>
        <textarea id="description" name="description"></textarea>
  
        <label>Product Category:</label>
        <input name="category" type="text" id="category" value="" />

        <label>Price:</label>
        <input name="price" type="number" id="price" value="" />
  
        <input type="submit" id="btn" value="Submit" />
      </form>
    </div>
  </section>